body {
  /* border: 1px solid purple; */
  justify-content: center;
  background-color: black;
}
h1 {
  /* border: 1px solid red; */
  background-color: cyan;
  margin: 0;
  text-align: center;
}

.game-board {
  /* border: 1px solid black; */
  background-color: #34495e;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  display: grid;
  /* border-radius: 10px; */
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box {
  border: 1px solid black;
  font-family: helvetica;
  font-weight: bold italic;
  font-size: 4em;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-container {
  border: 1px solid black;
  background-color: lightblue;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button {
  border: 1px solid black;
  background-color: lightgreen;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset-button {
  border: 1px solid black;
  background-color: lightgreen;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-container {
  padding: 0 auto;
  justify-content: center;
}

#player-one-score {
  display: flex;
  justify-content: center;
}

#player-two-score {
  display: flex;
  justify-content: center;
}

#game-result-container {
  color: white;
  font-weight: bold italic;
  justify-content: left;
}

#game-result-container h3 {
  font-style: italic;
}

.winner {
  background-color: rgb(42, 29, 114);
  border: 1px solid black;
  font-size: 4em;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button:hover {
  background-color: purple;
}

.reset-button:hover {
  background-color: purple;
}

.score-container input {
  width: 50px;
}
